<form action="/members/<%= @member.id %>" method="post">

  <label for="members-first-name">Enter Members First Name:</label>
  <input type="text" name="first_name" id="members-first-name" value="<%= @member.first_name %>">

  <br>

  <label for="members-last-name">Enter Members Last Name:</label>
  <input type="text" name="last_name" id="members-last-name" value="<%= @member.last_name %>">

  <br>

  <label for="members-date-of-birth">Enter Members Date Of Birth:</label>
  <input type="text" name="date_of_birth" id="members-date-of-birth" value="<%= @member.date_of_birth %>">

<br>

  <input type="submit" value="Create New Member">
</form>
