<h1>All Members</h1>

<table>
  <tr>
    <th>First Name</th>
    <th></th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
  </tr>
    <% for member in @members %>
  <tr>
    <td> <a href="/members/<%= member.id %>"><%= member.first_name %></a></td>
    <td>|</td>
    <td><%= member.last_name %></td>
    <td><%= member.date_of_birth %></td>
    </tr>
    <% end %>
</table>
