<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Golds Gym</title>
    <link rel="stylesheet" href="/styles/structure.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/members">View All Current Members</a></li>
          <li><a href="/activities">View Available Activities</a></li>
          <li><a href="/bookings">View All Current Bookings</a></li>


          <li><a href="/bookings/new">Create a new Booking</a></li>
        </ul>
    </nav>
      <%= yield %>
  </body>
</html>
