<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico"/>
    <title>Golds Gym</title>
    <link rel="stylesheet" href="/styles/structure.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/members">Current Members</a></li>
          <li><a href="/activities">Available Activities</a></li>
          <li><a href="/bookings">Current Bookings</a></li>


          <li><a href="/bookings/new">Create a new Booking</a></li>
        </ul>
    </nav>
      <%= yield %>
  </body>
</html>
