<h1>Current Member Bookings</h1>

<table>
  <tr>
    <th>Member Name:</th>
    <th></th>
    <th>Activity Booked on:</th>
  </tr>
    <% for booking in @bookings %>
  <tr>
    <td> <%= booking.member.first_name %> <%= booking.member.last_name %></td>
    <td>|</td>
    <td><%= booking.activity.activity_name %></td>
 </tr>
    <% end %>
</table>

<div class="pagelink">
<li><a href="/bookings/new">Create a new Booking</a></li>
</div>
