<h1>WELCOME TO GOLD'S</h1>

<body>
  <p>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3f/Gold%27s_Gym_logo.svg/1200px-Gold%27s_Gym_logo.svg.png"" width="600" height="600">
  </p>
</body>
